<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="img/weather.png"/>
            <style>
      @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

    </style>
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <h3>{{message}}</h3>
    </div>
    {{>footer}}
  </body>
</html>
